<%= bootstrap_form_for @order, :html => { multipart: true, :class => "form-horizontal order" } do |f| %>

  <% if @order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :title, label: { text: "Title | Of order or paper, so we can make sure you are.. you " }, autofocus: true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.file_field :attachment, label: {text:"Attachment | PDF only for security, stay safe out there "}, :class => 'form-control' %>
      <p><a href="https://www.youtube.com/watch?v=tIS8Wop_7H4">Microsoft Word: Save as PDF</a></p>
      <p><a href="https://youtu.be/0kADxcMcjAY?t=45s">Pages for Mac: Save as PDF</a></p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.select :location, ['Alhambra', 'Bayview', 'Beacon', 'Birchmont',
         'Bookstore', 'Brindle', 'Brooks', 'Endicott', 'Essex', 'Farm House',
         'Frates', 'Gloucester', 'Hale', 'Hamilton', 'Hawthorne', 'Kennedy', 'LSB',
         'Manchester', 'Marblehead', 'Post Center', 'Standish', 'Reynolds', 'Rockport',
         'Rogers', 'Stoneridge', 'Tower', 'Trexler', 'VPAC', 'Wenham', 'Williston',
         'Winthrop', 'Woodside'],label: { text: "Location | Where would you like the paper delivered? " }, :prompt => ["Select One"],  :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.select :delivery_time, ['Express', 'Overnight (before 7AM)', '7:00-8:00 PM', '10:00-11:00 PM'],
      label: { text: "Delivery Time | Orders submitted after 11PM can not be delivered during 8-10... yet " }, :prompt => ["Select One"], :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_area :details, label: { text: "Details | Room #, special requests, *front door is open*, etc..." }, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <h1 id="price">$</h1><br>
      <h5 id="price">Send Via Venmo to @gullpaperexpress</h5><br>
      <h5 id="price">Once Payment is Recieved Your Order will be Processed</h5>
      <br><br>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg col-lg-10">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
