<%= bootstrap_form_for @order, :html => { multipart: true, :class => "form-horizontal order" } do |f| %>

  <% if @order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :title, autofocus: true, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.select :location, ['', 'Alhambra', 'Bayview', 'Beacon', 'Birchmont',
         'Bookstore', 'Brindle', 'Brooks', 'Callahan (upper)', 'Callahan (lower)',
         'Einstein Bros. Bagels', 'Endicott', 'Essex', 'Farm House', 'Frates' 'Gloucester',
         'Hale', 'Hamilton', 'Hawthorne', 'Kennedy', 'Library', 'LSB (put room # in detials)', 'Manchester',
         'Marblehead', 'Post Center', 'Standish', 'Reynolds', 'Rockport', 'Rogers',
         'Stoneridge', 'Lodge', 'Tower', 'Trexler', 'VPAC (put room # in details)' 'Wenham', 'Williston',
         'Winthrop', 'Woodside'], :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.select :delivery_time, ['', 'Express (ASAP)', '8:00-9:00 AM', '2:00-3:00 PM', '11:00 PM-12:00 AM'], :class => 'form-control'%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_area :details, label: { text: "Details ( Room #, special requests, *front door is open*, etc...)" }, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.file_field :attachment, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg col-lg-10">
      <%= f.submit nil, :class => 'btn btn-success' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
