<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <h4><dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt></h4>
  <h4><dd><%= @order.title %></dd></h4>
  <h4><dt><strong><%= model_class.human_attribute_name(:delivery_time) %>:</strong></dt></h4>
  <h4><dd><%= @order.delivery_time %></dd></h4>
  <% if current_user == @order.user || current_user.admin?  %>
    <h4><dt><strong><%= model_class.human_attribute_name(:location) %>:</strong></dt></h4>
    <h4><dd><%= @order.location %></dd></h4>
    <h4><dt><strong><%= model_class.human_attribute_name(:details) %>:</strong></dt></h4>
    <h4><dd><%= @order.details %></dd></h4>
    <h4><dt class="delivered"><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt></h4>
    <h4><dd class="delivered">$<%= '%.2f' % @order.price %></dd></h4>
  <% end %>
  <h4><dt><strong><%= model_class.human_attribute_name(:attachment) %>:</strong></dt></h4>
  <h4><dd>Recieved</dd></h4>
  <h4><dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt></h4>
  <% if @order.status == "Waiting for Venmo Payment" %>
    <h4><dd class="pending"><%= @order.status %></dd></h4>
  <% elsif @order.status == "Out for Delivery" %>
    <h4><dd class="out"><%= @order.status %></dd></h4>
  <% else %>
    <h4><dd class="delivered"><%= @order.status %></dd></h4>
  <% end %>
  <h4><dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt></h4>
  <h4><dd><%= time_ago_in_words(@order.created_at)%> ago</dd></h4>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              orders_path, :class => 'btn btn-info'  %>
<% if current_user == @order.user && @order.status == "Waiting for Venmo Payment" %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_order_path(@order), :class => 'btn btn-warning' %>

<% end %>
<% if current_user.admin? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_order_path(@order), :class => 'btn btn-warning' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                order_path(@order),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <%= link_to 'Out for Delivery', out_for_delivery_order_path(@order), class: 'btn btn-primary btn-md sign-up', data: {confirm: 'Are you sure this is printed and ready for delivery?'}  %>
<% end %>
<% if current_user.admin? && @order.status == "Out for Delivery"%>
  <%= link_to 'Delivered', delivered_order_path(@order), class: 'btn btn-success btn-md sign-up', data: {confirm: 'Are you sure this is delivered?'} %>
<% end %>
<br><br>
