<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Gull Paper Express Team, another order has been successfully submitted!</h2>
    <h3><%= @user.first_name %>, <%= @user.last_name %> requested a <%= @order.delivery_time %> delivery </h3>
    <h3>Check now for a $<%= @order.price %> payemnt from @<%= @user.venmo_name %> </h3>
  </body>
</html>
